body{
    background: pink;
    font: normal 15px black;
}
header{
    color: rgb(37, 18, 18);
    text-align: center;
}
section{
    background-color: rgb(254, 240, 242);
    padding: 15px;
    margin:auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 4px 5px 6px 9px rgba(0, 0, 0, 0.392);

}

footer{
    color: rgba(0, 0, 255, 0.334);
    font-style:italic;
    text-align: center;
    text-decoration:underline;
}